<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreId</key>
	<string>$(APP_STORE_ID)</string>
	<key>Co2EuropePollutionPerOneKilometer</key>
	<string>$(CO2_EUROPE_POLLUTION_PER_ONE_KILOMETER)</string>
	<key>DeveloperTelegramLink</key>
	<string>$(DEVELOPER_TELEGRAM_LINK)</string>
	<key>BuildEnvironment</key>
	<string>$(BUILD_ENVIRONMENT)</string>
	<key>AppVisibleVersion</key>
	<string>$(APP_VISIBLE_VERSION)</string>
	<key>DeveloperName</key>
	<string>$(DEVELOPER_NAME)</string>
	<key>GithubRepoUrl</key>
	<string>$(GITHUB_REPO_URL)</string>
</dict>
</plist>
